html,body{height: 100%;margin: 0;padding: 0}
.body{min-height:100%;margin-top:-100px}
.header{height: 100px}
.header .logo{width: 40%;float: left;padding-top: 15px}
.header .logo img{width: 65px;height: 65px}
.header .menubar{width: 60%;float: left;}
.header .menubar li{float:right;margin-right: 8%;list-style: none;padding-top:15px} 
.header .menubar li  a{display: block;text-decoration: none;color: black;}
.container{width: 75%;margin:0 auto;padding-top:100px;text-align: left;}
.container .mainImage{width: 50%;display:block;margin-left: auto;margin-right: auto;}
.footer{text-align: center;position: absolute;width: 100%;margin-top: -100px;height: 100px}
