html,body{height: 100%;margin: 0;padding: 0}
.body{min-height:100%;margin-top:-150px}
.body .container{width: 75%;margin:0 auto;padding-top:180px;text-align: left;}
.body .container .introTable{width: 80%;margin: 0 auto;}
.body .container .introTable .table tr td{height:50px;font-size: 14pt;text-align: center;}
.body .container .introTable .table  tr td:first-child{width:30%}
.body .container .introTable .table  tr td:nth-child(2){width:70%}
.body .container .mainImage{width: 50%;display:block;margin-left: auto;margin-right: auto;}
.header{width:75%;height: 150px;padding-top: 50px;margin: 0 auto;}
.header .logo{width: 40%;float: left;padding-top: 15px}
.header .logo img{width: 65px;height: 65px}
.header .menubar{width: 60%;float: left;}
.header .menubar li{float:right;margin-right: 8%;list-style: none;padding-top:15px} 
.header .menubar li  a{display: block;text-decoration: none;color: black;}
.header .menubar ul li .selected{color: red;}
.footer{text-align: center;position: absolute;width: 100%;margin-top: -100px;height: 100px}
